<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<cfset startdate = '1999-2000'>
<!--- look to see if date range was specified, using the '-' --->
<!--- look for occurance of "-" --->
<cfset finddate = REFind("-", startdate)>
<!--- if none was found, search by a single date --->
<cfif finddate eq '0'>

<!--- else, if date range specified, select substring and set dates --->
<cfelse>
<cfset date1 = left(trim(startdate), 4)>
<cfset date2 = right(startdate, 4)>
</cfif>
<cfoutput>#finddate#</cfoutput>
<body>


</body>
</html>
