<cfset printid = 
"TI003R2003,
TI004P2004a,
TI004P2004b,
TI04O2004,
TI778A1778,
TI787P1789,
TI788M1966,
TI804D1812,
TI804L1812,
TI805R1805,
TI812A1812,
TI813K1813,
TI816A1807,
TI835W1835,
TI835W1839,
TI841V1841,
TI852W1852,
TI854B1854,
TI857R1857,
TI857RS1874,
TI870D1870,
TI874A1874,
TI874P1874a,
TI874P1874b,
TI883J1883,
TI885SP1885,
TI898M1898,
TI899H1899,
TI902G1902,
TI904O1904,
TI931D1934,
TI931O1937,
TI938A1953,
TI956M1956,
TI958S1958,
TI958S1959,
TI960G1960,
TI960L1960,
TI961A1961,
TI961D1961,
TI961M1961,
TI962K1962,
TI962K1962b,
TI962K1973,
TI965N1981,
TI965T1965,
TI965T1974,
TI967W1967,
TI969V1969,
TI970D1970,
TI971M1971,
TI972K1972,
TI972K1973a,
TI972K1973b,
TI972K1973c,
TI972K1973d,
TI972K1974a,
TI972K1974b,
TI972K1974c,
TI972K1974d,
TI972K1974e,
TI972K1974f,
TI972K1974g,
TI972K1974h,
TI972K1974i,
TI972K1974j,
TI972K1974k,
TI972K1974l,
TI972K1974m,
TI972K1975a,
TI972K1975b,
TI972K1975c,
TI972K1975d,
TI972K1975e,
TI972K1975f,
TI972K1975g,
TI972K1975h,
TI972K1975i,
TI972K1975j,
TI972K1975k,
TI972K1975l,
TI972K1976a,
TI972K1976b,
TI972K1976c,
TI972K1976d,
TI972K1976e,
TI972K1976f,
TI972K1976g,
TI972K1976h,
TI972K1976i,
TI972K1976j,
TI972K1976n,
TI972K1977a,
TI972K1977b,
TI972K1977c,
TI972K1977d,
TI972K1977e,
TI972K1977f,
TI972K1977g,
TI972K1977h,
TI972K1977i,
TI972K1978a,
TI972K1978b,
TI972K1978c,
TI972K1978d,
TI972K1978e,
TI972K1978h,
TI972K1978i,
TI972K1978j,
TI972K1979a,
TI972K1979b,
TI972K1979c,
TI972K1979d,
TI972K1979e,
TI972K1979f,
TI972K1979h,
TI972K1979i,
TI972K1979j,
TI972K1979k,
TI972K1980a,
TI972K1980b,
TI972K1980c,
TI972K1980d,
TI972K1980e,
TI972K1981a,
TI972K1981b,
TI972K1981c,
TI972K1982a,
TI972K1982b,
TI972K1983a,
TI972K1984 b,
TI972K1984a,
TI972K1984c,
TI972K1985a,
TI972K1987b,
TI972K1987c,
TI972K1988,
TI972K1989,
TI972K1990,
TI972K1991,
TI972K1993a,
TI972K1993b,
TI972K1994,
TI972K1996,
TI972K1998a,
TI972K1998b,
TI972K1999,
TI972K2004,
TI972KB1985,
TI972KKM1982,
TI972KKT1978,
TI972KKT1981,
TI972Kl1972b,
TI972Kl1974a,
TI972Kl1974b,
TI972Kl1974c,
TI972Kl1974d,
TI972Kl1974e,
TI972Kl1974f,
TI972Kl1974g,
TI972Kl1975a,
TI972Kl1975b,
TI972Kl1975c,
TI972Kl1975d,
TI972Kl1977,
TI972Kl1979a,
TI972Kl1979b,
TI972Kl1979c,
TI972Kl1979d,
TI972Kl1981,
TI972Kl1984a,
TI972Kl1984b,
TI972Kl1987a,
TI972Kl1987b,
TI972Kl1987c,
TI972Kl1991a,
TI972Kl1991b,
TI972Kl1999,
TI972KlB1987,
TI972KlCC1981,
TI972KlG1980,
TI972KlK 1979,
TI972KlK1972b,
TI972Ko1987a,
TI972KP1980,
TI972KWC1980,
TI972P1981,
TI973T1973,
TI973T1975a,
TI973T1975b,
TI973T1975c,
TI973T1975d,
TI973T1976a,
TI973T1976b,
TI973T1976c,
TI973T1976d,
TI973T1977,
TI973T1984,
TI974CC1974,
TI974CC1977,
TI974CC1979,
TI974CK1982,
TI974CMT1980,
TI974W1974,
TI974W1975a,
TI974W1975b,
TI974W1977a,
TI974W1977b,
TI974W1977c,
TI974W1977d,
TI974W1977e,
TI974W1977f,
TI974W1977g,
TI974W1977h,
TI974W1977i,
TI974W1977j,
TI974W1977k,
TI974W1978a,
TI974W1978b,
TI974W1978c,
TI974W1979,
TI974W1980a,
TI974W1980b,
TI974WB1975a,
TI974WB1975b,
TI974WB1975c,
TI974WB1975d,
TI974WBa1976,
TI974WK1979,
TI975J1979,
TI975O1975,
TI975P1975,
TI975P1977a,
TI975P1978,
TI976BWKT1977,
TI976N1976,
TI976N1976,
TI977K1979,
TI977K1983b,
TI977KW1992,
TI977KW2003,
TI977T1977,
TI978F1978,
TI978F1990,
TI978FK1987,
TI979C1979,
TI979G1979,
TI981R1981,
TI982L1982,
TI984K1984,
TI991A1991,
TI993C1993,
TI995C1995,
TI996M1996,
TI996T1996
">


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>Data Print</title>

<cfset count=0>
</head>
<cfoutput>
<body>
<h2>DATA Format</h2>
<table border="1">
<tr>
<td>ID from holdings.xls</td><td>ResID</td></tr>
<cfloop list="#printid#" index="id">
<tr><td>#id#</td><td>
<cfset myID = trim(#id#)>
<cfquery datasource="emeld" name="getid">
SELECT ResourceID from DATA_RESOURCE WHERE Identifier = n'#myID#'
</cfquery>
<cfif #getid.ResourceID# neq ''>
#getid.ResourceID#
<cfelse>
<b>new</b>
<cfset count=Count+1>
</cfif>
</td></tr>
</cfloop>
</table>

<p>#count# new records</p>

</body></cfoutput>


</html>
