/* CSS Document */

body {background: #cccccc;}

tr, th, td, h2, h3, h4, p, ul, ol, li {
	padding: 0px;
	margin: 0px;
	}
	
blockquote {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	}

table.grammartable {
	width: 788px;
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.insettable {
	background: #ffcc66;
	border-style: solid;
	border-width: 3px;
	border-color: #333333;
	border-collapse: collapse;
	margin: auto;
	}

table.linktable {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}
	
tr.trbg1 {background: #000066;}

a.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
	}

h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	}

h3.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	}

h4.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 16px;
	text-align: center;
	padding-bottom: 4px;
	}

.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border-right: 2px solid #333333;
	border-collapse: collapse;
	}

.smheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.grammartext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	}
	
.grammartext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}
	
.cgrammartext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.cgrammartext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	}
	
.smcgrammartext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 6px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.dentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 4px 10px;
	}
	
.dentext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.cdentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.smcdentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 6px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.grammarlist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 0px 0px;
	}

