/* CSS Document */

body {background: #cccccc;}

tr, td, h2, p {
	padding: 0px;
	margin: 0px;
	}

table.hometable {
	width: 788px;
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}
	
table.linktable {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}
	
td.logo {
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	}
	
td.border {
	border-left: 2px solid #333333;
	}

a.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
	}

h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	}

.hometext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	}

.chometext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 0px;
	}