#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
#navbar li {
	float: left;
	padding: 0px 2px;
	}

#navbar li ul li {
	padding: 0px 0px;
	}
	
#navbar li ul {display: none;}

#navbar li:hover ul {
	display: block;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	background-color: #ffffff;
	width: 200px;
	position: absolute;
	}
	
table.position {
	margin-left: auto;
	margin-right: auto;
	}

a.navlink {
	display: block;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #0099ff;
	color: #ffffff;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	padding: 4px 12px;
	text-decoration: none;
	}
	
a.navlink:hover {
	background-color: #ffffcc;
	color: #000000;
	}
	
a.menulink {
	display: block;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border-top: 1px solid #000000;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	width: 195px;
	}
	
a.menulink:hover {
	background-color: #000000;
	color: #ffffff;
	}/* CSS Document */

