/* CSS Document */

body {background: #cccccc;}

tr, th, td, h2, h3, p, ul, li {
	padding: 0px;
	margin: 0px;
	}

table.soundtable {
	width: 788px;
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.consonanttable1 {
	width: 788px;
	background: #55dfaa;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.consonanttable2 {
	width: 788px;
	background: #ffdf55;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.consonanttable3 {
	width: 788px;
	background: #55dfff;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.voweltable {
	width: 688px;
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.voweltable2 {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}
	
table.sndhead {
	margin-left: auto;
	margin-right: auto;
	}

table.linktable {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}

tr.trbg1 {background: #000066;}

td.image {
	padding-left: 10px;
	padding-top: 8px;
	}

.mediacontrol {
	width: 32px;
	padding-left: 7px;
	padding-right: 0px;
	padding-top: 5px;
	border-top: 2px solid #333333;
	}

a.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	text-decoration: underline;
	}

h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	}

h3.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 18px;
	text-align: center;
	padding-bottom: 6px;
	}

li.vlist {
	margin-left: 20px;
	padding-top: 8px;
	}

.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border-right: 2px solid #333333;
	border-collapse: collapse;
	}

.soundtext, .cvoweltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}
	
.ccontext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 6px 10px;
	}

.soundtext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 10px;
	border-top: 2px solid #333333;
	}

.voweltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 0px;
	}

.voweltext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 10px;
	border-top: 2px solid #333333;
	}

.smcontext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.smccontext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 4px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.smcdentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 6px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.blankcell {
	border: 2px solid #333333;
	border-collapse: collapse;
	}