/* CSS Document */

body {background: #cccccc;}

tr, td, h2, p {
	padding: 0px;
	margin: 0px;
	}

table.titletable {
	width: 600px;
	background: #000066;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	}

table.storytable {
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.linktable {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}

table.linktable2 {
	width: 712px;
	margin-left: auto;
	margin-right: auto;
	}

.bg1 {background: #000066;}

.bg2 {background: #ffcc55;}

.bg3 {background: #ffcc66;}

.mediacontrol {padding-left: 10px;}

.mediacontrol2 {
	width: 32px;
	text-align: right;
	padding-left: 0px;
	padding-right: 7px;
	padding-top: 5px;
	}

a.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
	}

a.storylink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	}

a.storylink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	}

.linenumber {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}
	
h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	}

.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	}

.lgheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	}

.smheading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 10px;
	}

.smheading2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.storytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.cstorytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.cstorytext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	}

.rstorytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
	padding: 4px 10px;
	}

.smstorytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.xsmstorytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	padding: 4px 4px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.xsmstorytext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	padding: 4px 4px;
	}

.smcstorytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.xsmcstorytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 4px 4px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.xsmcstorytext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding: 4px 4px;
	}

.stem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: red;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 4px 10px;
	}

.dentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	}

.cdentext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}