/* CSS Document */

body {background: #cccccc;}

tr, td, h2, p {
	padding: 0px;
	margin: 0px;
	}

.mediacontrol {
	width: 32px;
	padding-left: 7px;
	padding-right: 0px;
	padding-top: 5px;
	}

a.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
	}

a.maplink {
	text-decoration: underline;
	}

h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 24px;
	text-align: center;
	padding: 15px;
	}

td.maptitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ffffcc;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

td.thumbnail {
	border: 2px solid #333333;
	border-collapse: collapse;
	text-align: center;
	padding: 6px;
	}

.territext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 10px;
	}

.cterritext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	}

table.maptable {
	background: #ffcc66;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

td.mapimgbg {
	background-color: #000000;
	text-align: center;
	}

table.placetable {
	width: 750px;
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

td.placeimgbg {
	background-color: #000000;
	text-align: center;
	}

.placetext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 4px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.placetext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 4px;
	border-top: 2px solid #333333;
	border-collapse: collapse;
	}
	
table.linktable {
	width: 762px;
	margin-left: auto;
	margin-right: auto;
	}

table.linktable2 {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	}

table.linktable3 {
	width: 712px;
	margin-left: auto;
	margin-right: auto;
	}

table.linktable4 {
	width: 792px;
	margin-left: auto;
	margin-right: auto;
	}