/* CSS Document */

body {background: #cccccc;}

tr, th, td, h2, p {
	padding: 0px;
	margin: 0px;
	}

table.vocabtable {
	width: 688px;
	background: #ffffcc;
	border-style: solid;
	border-width: 6px;
	border-color: #333333;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	}

table.linktable {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	}

tr.trbg1 {background: #000066;}

.mediacontrol {
	width: 32px;
	padding-left: 7px;
	padding-right: 0px;
	padding-top: 5px;
	border-top: 2px solid #333333;
	}

a.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	text-decoration: underline;
	}

h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #000000;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	}

.heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffcc;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border-right: 2px solid #333333;
	border-collapse: collapse;
	}

.vocabtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 4px 10px;
	border: 2px solid #333333;
	border-collapse: collapse;
	}

.nametext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 10px;
	border-top: 2px solid #333333;
	}