<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="admin.css">
<title>Dena'ina Qenaga Digital Archive -- Administrative Interface</title>
</head>

	
<body>
<center><img src="header.jpg"><br>


<h1>Dena'ina Qenaga Digital Archive</h1>
<h2>Administrative Interface</h2>

<table class="input" align="center">
<tr>
<td><a href="add-update-1.cfm?type=add">Add a New Record</a></td></tr>
<tr><td><a href="browse-resource1.cfm">Browse to Update an existing record.</a></td></tr>
<tr>
<td><a href="add-person1.cfm">Add a new person to the Database</a></td>
</tr>
<tr>
<td><a href="../index.cfm">Return to Archive Index</a></td>
</tr>
</table>
</center>

<br><br><br><br><br>
<p>Last updated 16 oct 2005</p>
</body>
</html>
