<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>Upper Inlet Dena'ina Lessons</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="sava.css" rel="stylesheet" type="text/css">
	<!-- JS for building tree-->
	<script type="text/javascript" language="javascript1.2" src="listCollapse.js"></script>
	<script type="text/javascript" language="javascript" src="cookie.js"></script>
	<script type="text/javascript" language="javascript1.2"><!--
	window.onload = function () {
		compactMenu('parent',false,'&plusmn; ');
		stateToFromStr('parent',retrieveCookie('menuState'));
	}
	window.onunload = function () {
		setCookie('menuState',stateToFromStr('parent'));
	}
//-->
</script>
<!-- Web Design by M. Thornley @ www.lostplot.net -->
<!-- updated and revised by Gary Holton, April 2017 -->
</head>

<body>
<h1>  Upper Inlet Dena'ina Lessons</h1>
<div id="content">
<div id="text">

<!-- Content start-->
<table border=0 cellpadding=5>
<tr><td>
<h2>Introduction: Upper Inlet Dena’ina</h2>

<p>The Upper Inlet dialect of Dena’ina has been spoken throughout the Upper Cook Inlet Basin, including the communities of Tyonek, Knik, and Eklutna. </p>
<p>These language lessons were adapted from lessons developed by the Yukon Native Language Centre and were recorded with <a href="about.html">Sava Stephan</a> in Anchorage in February, 1999.</p>
<p>This project is based upon the book <i> Upper Inlet Dena’ina Language Lessons</i> by Sava Stephan and James Kari, published by the Dena’ina Language Program of the Alaska Native Heritage Center. Copies of this book (including an audio CD) can be purchased at the Alaska Native Heritage Center. Permission is required to reproduce these materials.</p>
<p><i>Note: These lessons are best viewed with javascript active.</i></p>
</td></tr>
</table>
<br/>
<h3 style="text:align:center;">Begin Lessons</h3>
<br/>
<!-- End -->
<!--End Content-->
<!--footer -->
<hr>
<div id="footer">
  <p>Upper Inlet Dena'ina Lesson produced by the
  <a href="http://www.uaf.edu/anlc" class="sub">Alaska Native Language Center</a></b> and the
  <a href="http://www.alaskanative.net" class="sub">Alaska Native Heritage Center</a>. Copyright &copy; 2005 Dena'inaq' Titaztunt. Dena'ina Qenaga website copyright &copy; 2004-2017. Suggestions for future development are welcome.
  If you have questions or comments about this site, please contact
  the DATA Project: denaina [dot] qenaga [at] gmail [dot] com.</p><br/><p align="center">[<a href="http://qenaga.org">qenaga.org</a>]</p>
</div>
<!--End -->
</div>
</div>
<!-- Side Menu and Navigation -->
<div id="menu">
	<div id="menuheader">Contents</div>
	<div id="menuitems">

             <li>    || <a href="index.cfm">Home </a> |
             		<a href="about.html">About</a> ||
 	<ul id="parent">
 	<noscript><I>* NOTE: This site is best viewed with Javascript active. You are seeing this message because JavaScript is either blocked or disabled on your browser,
 	please activate to view the site as intended. *</i></noscript>
             <li id= "node"> <font id="node">1. September</font>
			 	<ul> <li><a href="sept01.html" class="sub">1.1 Greetings</a>
			 	<li><a href="sept02.html" class="sub">1.2 Weather</a>
			 	<li><a href="sept03.html" class="sub">1.3 People</a>
			 	<li><a href="sept04.html" class="sub">1.4 Fish</a>
			 	<li><a href="sept05.html" class="sub">1.5 Berries</a>
				<li><a href="sept06.html" class="sub">1.6 Activities</a></ul>
			<li id= "node"> <font id="node"> 2. October</font>
					<ul><li><a href="oct01.html" class="sub">2.1 Names</a>
					<li><a href="oct02.html" class="sub">2.2 Weather</a>
					<li><a href="oct03.html" class="sub">2.3 Animals</a>
					<li><a href="oct04.html" class="sub">2.4 Giving and Taking</a>
					<li><a href="oct05.html" class="sub">2.5 Bush Objects</a>
					<li><a href="oct06.html" class="sub">2.6 Activities</a>
					<li><a href="oct07.html" class="sub">2.7 Hunting</a></ul>
			<li id= "node"> <font id="node">3. November</font>
				<ul><li><a href="nov01.html" class="sub">3.1 Weather</a>
				<li><a href="nov02.html" class="sub">3.2 Food</a>
				<li><a href="nov03.html" class="sub">3.3 Actions</a>
				<li><a href="nov04.html" class="sub">3.4 Are you thirsty?</a>
				<li><a href="nov05.html" class="sub">3.5 Additional Forms</a>
				<li><a href="nov06.html" class="sub">3.6 Verb Chart</a>
				<li><a href="nov07.html" class="sub">3.7 Finding Things</a></ul>
			<li id= "node"> <font id="node">4. December</font><ul>
				<li><a href="dec01.html" class="sub">4.1 Conversation</a>
				<li><a href="dec02.html" class="sub">4.2 Relatives</a>
					<li><a href="dec03.html" class="sub">4.3 Activities I</a>
								<li><a href="dec04.html" class="sub">4.4 Activities II</a>
								<li><a href="dec06.html" class="sub">4.5 Where do you live?</a>
				<li><a href="dec05.html" class="sub">4.6 Possessives</a></ul>
			<li id= "node"> <font id="node">5. January</font><ul>
				<li><a href="jan01.html" class="sub">5.1 Body Parts</a>
				<li><a href="jan02.html" class="sub">5.2 Activities</a>
				<li><a href="jan03.html" class="sub">5.3 Objects</a></ul>
			<li id= "node"> <font id="node">6. February</font><ul>
				<li><a href="feb01.html" class="sub">6.1 Speaking the Native Language</a>
				<li><a href="feb02.html" class="sub">6.2 Walking to a place</a>
				<li><a href="feb03.html" class="sub">6.3 Clothing</a>
				<li><a href="feb04.html" class="sub">6.4 Fire</a>
				<li><a href="feb05.html" class="sub">6.5 Commands</a></ul>
			<li id= "node"> <font id="node">7. March</font><ul>
				<li><a href="mar01.html" class="sub">7.1 Speaking the Native Language</a>
				<li><a href="mar02.html" class="sub">7.2 How are you?</a>
				<li><a href="mar03.html" class="sub">7.3 Numbers</a>
				<li><a href="mar04.html" class="sub">7.4 The Sky</a>
				<li><a href="mar05.html" class="sub">7.5 Hand me, give me verbs I.</a>
				<li><a href="mar06.html" class="sub">7.6 Landforms</a></ul>
			<li id= "node"> <font id="node">8. April</font><ul>
				<li><a href="apr01.html" class="sub">8.1 Daytime</a>
				<li><a href="apr02.html" class="sub">8.2 Spring</a>
				<li><a href="apr03.html" class="sub">8.3 Animal Tracks</a>
				<li><a href="apr04.html" class="sub">8.4 Colors</a>
				<li><a href="apr05.html" class="sub">8.5 Birds</a>
				<li><a href="apr06.html" class="sub">8.6 Locations</a></ul>
			<li id= "node"> <font id="node">9. May</font><ul>
				<li><a href="may01.html" class="sub">9.1 Weather</a>
				<li><a href="may02.html" class="sub">9.2 Tanning Hides</a>
				<li><a href="may03.html" class="sub">9.3 Insects</a>
				<li><a href="may04.html" class="sub">9.4 Young Animals</a>
				<li><a href="may05.html" class="sub">9.5 Give me, hand me verbs II.</a></ul>
			<li id= "node"> <font id="node">10. June</font><ul>
				<li><a href="jun01.html" class="sub">10.1 Some Questions</a>
				<li><a href="jun02.html" class="sub">10.2 Walking Around</a>
				<li><a href="jun03.html" class="sub">10.3 Plants</a></ul>
		<li id="node"><a href="clas.html">+ Classroom Expressions I</a></font>
		<li id="node"><a href="clas02.html">+ Classroom Expressions II</a>
		<li id="node"><a href="message.html">+ Message - Sava Stephan</a>
  <li id="node"><a href="http://qenaga.org">+ qenaga.org</a>
         </ul>

</div>
</div>

<div id="subheader"></div>
<div id="header"></div>

</body>
</html>
