/* original styles for Upper Inlet lessons */
/*  originally named keyStyle.css */
	body {
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		margin : 0;
		padding : 0;
		background-color: #CC9933;}
	h1 {
		width : 703px;
		font : bold 2em Arial, sans-serif;
		color : #CC9933;
		font-size: 30px;
		margin : 0px;
		position : absolute;
		letter-spacing: 2px;
		word-spacing: 4px;
		top : 30px;
		left : 6%;
		z-index : 1;
		background-color:#FFFFFF;}
	h2 {
		font-size : 20px;
		font-weight : bold;
		margin : 0;
		padding : 2em 0 3px 0;
		border-bottom : 1px solid #663300;}
	h3 {
		font-size : 18px;
		border-bottom: 1px solid #663300;
		padding : 1em 0 2px 0;
		margin : 0;
		color : #663300;}

	a {
		font-weight : bold;
		color : #996600;
		text-decoration : none;}
	a:hover {
		font-weight : bold;
		color : #996633;
		text-decoration : underline;}
	font.subH {
		color:#663300;
		font-size: 11px;
		font-weight: bold;
		margin: 6px;}

	font.den {  font-size: 13px;
		  letter-spacing: 1px;}
	font.eng { font-weight: bold;
		   font-size: 12px;}


	#content {
		background-color: #FFFFFF;
		border : 2px solid #663300;
		width : 88%;
		padding : 0px 10px;
		position : absolute;
		left : 5%;
		top : 95px;}
	#text {
		margin-left : 205px;
		font-size:12px;}
	#menu {
		width : 195px;
		margin : 0;
		padding : 0;
		border : 2px solid #663300;
		color:#663300;
		background-color: #FFFFFF;
		position : absolute;
		left : 5%;
		top : 75px;
		z-index : 2;
	}

	#menuheader{
		height : 27px;
		color: #FFFFFF;
		letter-spacing: 3px;
		background-color: #663300;
		line-height : 24px;
		padding : 0 10px;
		font-weight : bold;
		}

	#menuitems { padding : 3px 3px 3px 3px;}

	#node 	{ font-weight: bold;
		 color: #663300;
		 letter-spacing: 1px;
		 font-size:12px;}

	#menuitems ul, #menuitems li,
		{
		font-size: 10px;
		color: #663300;
		display: block;
		border-bottom: 1px dashed #C39C4E;
		padding: 5px 0px 2px 2px;
		text-decoration: none;
		width:180px;
		}
	#menuitems ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		}
	#menuitems ul, li {
		margin: 0px;
		padding: 0px;border: none;}

	#menuitems ul li a {
		font-size: 9px;
		display: block;
		padding: 5px 0px 2px 4px;
		text-decoration: none;
		color: #669933;
		width:160px;}

	#menuitems ul li a:hover, #menuitems ul li a:focus {
		color: #000000;
		background-color: #eeeeee;
		}

	#subheader {
		width : 88%;
		height : 25px;
		padding : 0px 10px;
		background-color : #663300;
		border-left : 2px solid #663300;
		border-right : 2px solid #663300;
		border-top : 2px solid #663300;
		border-bottom : 2px solid #663300;
		position : absolute;
		left : 5%;
		top : 75px;
		z-index : 1;
		}
	#header {
		background-color:#FFFFFF;
		width : 88%;
		height : 60px;
		padding : 0px 10px 0px 10px;
		border: 2px solid #663300;
		position : absolute;
		left : 5%;
		top : 15px;
		}
	#footer	{font-size:10px;
		letter-spacing: .5px;
		font-family: Arial, Helvetica, sans-serif;
		color: #663300;
		top-border: 1px solid #663300;
		}
	img { border: 1px solid #663300;}
