/*******************************************************
TITLE: Fixed One-Column #2 Layout (Basic) V1.0 (Beta)
DATE: 20070807
AUTHOR: The CSS Tinderbox - http://www.csstinderbox.com
*******************************************************/

body {
margin:20px;
padding:0;
height:100%;
background-color:#cc9999;
background-image: url('images/background.jpg'); background-repeat: repeat-x;
color:#333366;  
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
}

.fineprint {
font-size:9px;
}

a {
color:#996666;
text-decoration:none;
}

a:hover {
color:#666699;
text-decoration:none;
}

a:visited {
color:#666699;
text-decoration:none;
}

ul {
margin:0 0 0 20px;
list-style-type:disc;
}

li {
margin:4px 0 5px 10px;
}

#container { 	
margin:0 auto;
padding:0;
width:750px;
text-align:left;
vertical-align: middle;	
background-color:#ffffff;
border:1px solid #333366;
}

#header {
margin:0;
padding:0;
height:160px;
background-color:#ffffff;
border-bottom:1px solid #333366;
}

#leftColumn {
float:left;
margin:0;
padding:0;
width:160px;
font-size:.9em;
}

#leftColumn p {
padding:10px
}


#leftColumn h2 {
margin:0;
padding:10px 0 0 10px;
font-size:1em;
}

#leftColumn ul {
margin:0 0 0 0;
list-style:none;
}

#leftColumn li {
margin:4px 0 5px 10px;
}

#leftColumn li a {
text-decoration:underline;
}

#leftColumn li a:hover{
text-decoration:none;
}

#centerColumn { 	
margin:0 0 0 180px;
padding:0;
background-color:#ffffff;
}

#centerColumn p {
padding:10px
}
#centerColumn h1 {
margin:0;
padding:10px 0 5px 0;
font-size:1.5em;
}

#centerColumn h2 {
margin:0;
padding:10px 0 5px 0;
font-size:1.2em;
}

#menu {
top: 0;
left: 0;
}
#menu {
width: 160px;
}
#menu dt {
cursor: pointer;
margin: 2px 0;;
height: 20px;
line-height: 20px;
text-align: center;
font-weight:normal;
border: none;
background: #cc9999;
color:333366;
}
#menu dd {
border: none;
}
#menu li {
text-align: center;
background: #fff;
font-size:12px;

}
#menu li a, #menu dt a {
color: #333366;
text-decoration: none;
display: block;
border: 0 none;
height: 100%;
}
#menu li a:hover, #menu dt a:hover {
background:#CCCCCC;
}

table.chart
	{
		border:none;
	}
table.chart td
	{
	text-align:center;
	
	background-color:#cc9999;
	padding: 5px ;
	border:1px solid #333366;

	}
	
table.chart td.header
	{
	text-align:center;
	background-color:#cc9999;
	border-bottom:2px solid #333366;

	}
table.chart caption
	{
	margin-bottom:5px;
	}
table.chart th
	{
	background-color:#E8E7D9;
	padding: 5px;
	}
/* Overlib Style */
div.domTTOverlib {
	border: 1px solid #333366;
	background-color: #333366;
}
div.domTTOverlib .caption {
	font-family: Verdana, Helvetica;
	font-size: 14px;
	padding: 2px;
	color: #FFFFFF;
}
div.domTTOverlib .contents {
	font-size: 14px;
	font-family: Verdana, Helvetica;
	padding: 2px;
	background-color: #FFFFFF;
}


/*
#header h1 {
margin:0;
padding:20px 0 0 20px;
font-size:1.8em;
color:#ffffff;
font-weight:lighter;
}

#header h2 {
margin:0;
padding:0 0 0 20px;
font-size:.9em;
font-weight:lighter;
color:#eeeeee;
}

#footer {
position:relative;
bottom:0;
margin:80px 0 0 0;
padding:0;
height:60px;
line-height:60px;
text-align:center;
font-size:.6em;
background-color:#ffffff;
border-top:1px solid #cccccc;
}

blockquote {
margin:1em;
padding:.5em;
background-color:#eeeeee;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;
}

blockquote p {
margin:.2em;
}
*/






