<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!---

MAKE SURE YOU KEEP TRACK OF All CHANGES!

Author: Sadie Williams
Date: May 2005
Purpose: 

Modifications:
Editor							DD-MMM-YY	Watcha did...
- --- ---- ------- ----- --- -	- --- ---	--- --- --- ---



 --->
 

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" type="text/css" href="../qenaga.css" />
<title>Terms and Conditions of Use</title>
</head>
<!-- 
clean and set variables sent from browse-resource1.cfm. 
-->

<cfoutput>
<cfif isDefined("form.ID")>
	<cfset ID = #Trim(form.ID)#>
<cfelse>
	<cfset ID = "">
</cfif>
</cfoutput>

<body>
<div id="banner-archive">
	<div id="nav">
		<ul>
			<li><a href="search-1.cfm">Search</a></li>
			<li><a href="browse-1.cfm?format=print" >Documents</a></li>
			<li><a href="browse-1.cfm?format=audio" >Recordings</a></li>
			<li><a href="browse-1.cfm" >Browse</a></li>
			<li><a href="index.cfm">Archive</a></li>	
			<li><a href="../index.html">Qenaga Home</a></li>
		</ul>
	</div>
</div>
	<form name="form1" method="post" action="terms-2.cfm">
<div id="fullpage">
<h1 align="center">Terms and Conditions of Use</h1>

<table width="600" align="center" cellspacing="5">
	<tr> <td>&quot;I agree to the following conditions on the use of resources in the Dena'ina 
		Qenaga Digital Archive:</td></tr>
	<tr><td>
	<ol>
		<li>I will not use any resource in the Dena'ina Qenaga Digital Archive for commercial purposes.</li>
		<li>I will respect the intellectual property rights and copyrights that pertain to the resources.</li>
		<li>I will not alter or modify any resource in the database, without a legal authorization to do so, for example, fair use, or without prior explicit permission from the resource's creators.
</li>
		<li>I will not create works derived from any resource in the database, without a legal authorization to do so, for example, fair use, or without prior explicit permission from the resource's creators.</li>
		<li>If the bibliographic information for a resource states that names of creators and participants must be kept anonymous, I will respect their anonymity in any spoken or written representation of that resource that I produce.&quot;</li>
	</ol>
	</td></tr>
</table>
<cfoutput>
<input type="hidden" name="ID" value="#ID#">

<table width="600" cellspacing="10">

	<tr><td align="right"><input type="submit" name="submit" value="Yes, I agree">&nbsp;</td><td align="left">&nbsp;<input type="submit" name="submit" value="No, thanks"></td></tr></table>
		</cfoutput>
		
		</form>
</div>
<table width="90%" align="center">
	<tr><td><br /><hr /></td></tr>
	<tr>
		<td align="justify"><p class="fineprint">
Materials on this site are copyrighted by the original authors, the speakers whose voices are recorded, and the Alaska
Native Language Archive. Materials may be used freely for non-commercial, educational purposes as specified in the <a href="../license.html">license
agreement</a>. Alaska Native Language Archive materials made available through the Dena'ina Qenaga Digital Archive may be subject to more
restrictive conditions of use as specified by the original depositors.
</p>

<!-- probably need to add something about CC license -->

<p  class="fineprint">
Dena'ina Qenaga website copyright &copy; 2004-<cfoutput>#Year(NOW())#</cfoutput>. Suggestions for future development are welcome. If you have questions or comments about this site, please contact
the DATA Project: denaina [dot] qenaga [at] gmail [dot] com.</p>
		</td>
	</tr>
</table>
		
</body>
</html>



