<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<TITLE>CSS stylesheet</TITLE>
<STYLE TYPE="text/css">

body
{
font-family: "Times New Roman, Times";
font-size: "18px";
text-align: "center"
}

h1
{
font-family: "Times New Roman, Times";
font-style: "regular";
font-size: "28px";
color: "#333300";
text-align: "center"
}

h2
{
font-family: "Times New Roman, Times";
font-style: "italic";
font-size: "18px";
color: "#333300";
text-align: "center"
}

a:link
{
font-family: "Times New Roman, Times";
font-size: "18px";
color: "#0033CC"
text-align: "center"
}

a:visited
{
font-family: "Times New Roman, Times";
font-size: "18px";
color: "#0033CC"
text-align: "center"
}

a:active
{
font-family: "Times New Roman, Times";
font-size: "18px";
color: "cyan";
text-align: "center"
}

table
td
{
font-family: "Times New Roman, Times";
font-size: "18px";
color: "#333300";
text-align: "left"
}

td.number
{
font-family: "Times New Roman, Times";
font-size: "18px";
color: "#333300";
text-align: "center"
}


.fineprint
{
font-size: 10px;
}



</Style>


