body {
	color: #990000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

h1 {
	color: #990000;
	font-size: 28px;
	text-align: center;
}

h2 {
	color: #229984;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}

h3 {
	color: #887342;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

p.image {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
}

#content {
	border : 2px solid #990000;
	background-color: #FFCC99;
	width: 60%; 
	padding: 0px 10px; 
	position: absolute; 
	left: 20%; 
	top: 10%;	
}

#footer	{
		font-size:12px;
		letter-spacing: .5px;
		font-family: Arial, Helvetica, sans-serif;
		color: #663300;
		position: absolute;
		left: 20%;
		top: 90%;
		}

img { border: 1px solid #663300;
}

img.footer { 
	border: 1px solid #663300;
	height: auto;
}
